$color_principal: #70013E;
$color_secundario: #FFB517;
$color_terciario: #239B84;
$textcolor_link: white;

$backgroundcolor_select: white;
$textcolor_select: #70013E;

$backgroundcolor_hover: #FFB517;
$textcolor_hover: white;
$backgroundcolor_transp: #3b3b3b7e;
$backgroundcolor_black: black; 

$box-shadow: 0 0 10px rgba(0, 0, 0, .2);
$box-shadow-expand: 0 0 15px rgba(0, 0, 0, .3);